<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}">TimeCapsule</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>
<body>
<div class="layout-container">
  <!-- Header -->
  <header th:replace="~{fragments/header :: header}"></header>

  <!-- 사이드바 및 메인컨텐츠 -->
  <div class="content-wrapper">

    <aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

    <main th:class="${userDTO == null} ? 'notloginPage' : 'main-content'">
      <th:block th:replace="${content}"/>
    </main>
  </div>

  <!-- Footer -->
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>