<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer Fragment</title>
</head>
<body>

<footer>
  <div class="footer-container">
    <div class="footer-logo">TimeCapsule</div>
    <div class="social-icons">
      <a href="https://blog.naver.com"><img th:src="@{/images/blog.png}" alt="블로그" class="social-icon"></a>
      <a href="https://www.facebook.com"><img th:src="@{/images/facebook.png}" alt="페이스북" class="social-icon"></a>
      <a href="https://www.instagram.com"><img th:src="@{/images/instagm.png}" alt="인스타그램" class="social-icon"></a>
      <a href="https://www.youtube.com"><img th:src="@{/images/utube.png}" alt="유튜브" class="social-icon"></a>
    </div>
  </div>
</footer>
</body>
</html>