<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header Fragment</title>
</head>
<body>
<header th:fragment="header">
  <div class="header-container">
    <div class="logo">
      <a href="/" class="logo-button"><img th:src="@{/images/MainTimecapsuleLogo.png}" alt="TimeCapsule Logo" class="logo"></a>
      <span>TimeCapsule</span>
    </div>
    <nav class="nav-buttons">
        <a href="/notices" class="nav-button">고객센터</a>
        <a th:href="@{/login}" class="nav-button login-button" method="get">로그인</a>
        <a th:href="@{/signUpPage}" class="nav-button signup-button" method="get">회원가입</a>
        <a href="#" class="nav-button" id="logout-button" style="display: none;">로그아웃</a>
    </nav>
  </div>
</header>
</body>
</html>