<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sidebar Fragment</title>
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
<aside th:fragment="sidebar" class="sidebar">
  <nav>
    <ul class="sidebar-nav">
      <li><a href="/main"><img th:src="@{/images/homeicon.png}" alt="홈">홈</a></li>
      <li><a id="my-story-link" href="/stories"><img th:src="@{/images/bookicon.png}" alt="마이 스토리">마이 스토리</a></li>
      <li><a id="community-link" href="/stories/community"><img th:src="@{/images/communityicon.png}" alt="커뮤니티">커뮤니티</a></li>
      <li><a id="account-management-link" href="/users/info"><img th:src="@{/images/accounticon.png}" alt="계정 관리">계정 관리</a></li>
    </ul>
  </nav>
</aside>
</body>
</html>