main {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}

.story-header {
    display: flex;
    justify-content: space-between;
}

.download-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.download-btn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

.download-btn img {
    height: 15px;
    margin-right: 5px;
}

.story-metadata h2, p {
    margin-top: 0;
    margin-bottom: 5px;
}

.story-content {
    margin-bottom: 30px;
}

.download-btn:hover {
    filter: brightness(0.8);
}

.story-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.shared-version-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
}

.story-buttons button, .shared-version-btn button {
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 110px;
}

.story-buttons .back-btn {
    margin-right: auto;
}

.story-buttons .delete-btn {
    margin-left: 10px;
}

.story-buttons button:hover, .shared-version-btn button:hover {
    filter: brightness(0.8);
}

.back-btn, .edit-btn {
    background-color: #E7DEDE;
}

.delete-btn {
    background-color: #EFDDDD;
}

.story-images {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 10px;
}

.story-images div img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 25%;
    height: 150px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close {
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 110px;
    background-color: #F8F4F4;
    margin-top: 20px;
}

.close:hover {
    filter: brightness(0.8);
}

.form-group {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: none;
}

.form-group label {
    font-weight: bold;
    margin-right: 10px;
}

.shared-list img {
    display: block;
    height: 17px;
    padding: 10px 10px;
    background-color: #E7E1E1;
    border-radius: 50%;

}

.shared-list {
    font-size: 10px;
    text-align: center;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #EAE1E1;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 14px;
    color: #333;
    margin-right: 5px;
    white-space: nowrap;
}

.tag-input-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
    box-sizing: border-box;
}

.tag-input-container::-webkit-scrollbar {
    height: 8px;
}

.tag-input-container::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
}
.tag-input-container::-webkit-scrollbar-thumb:hover {
    background-color: #A8A8A8;
}

.tag-input-container::-webkit-scrollbar-track {
    background-color: #F1F1F1;

}

.tag-input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 5px;
}