<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TimeCapsule</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/account.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="account-management-main">
    <section class="account-management-container">
        <h1 class="password-reset-title">비밀번호 찾기</h1>
        <form id="findPasswordForm" class="password-reset-form" onsubmit="return generateTemporaryPassword(event)">
            <div class="form-group">
                <div class="input-wrapper icon-user">
                    <label><input type="text" id="id" name="id" placeholder="아이디" required></label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-wrapper icon-email">
                    <label><input type="email" id="email" name="email" placeholder="이메일" required></label>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" id="openModal" class="account-management-btn btn-password-send">임시 비밀번호 이메일 전송</button>
            </div>
        </form>
    </section>
    <div th:replace="~{fragments/modal :: allModals}"></div>
    <input type="hidden" name="userId" id="userId">
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" th:src="@{/js/modalUtils.js}"></script>
<script type="text/javascript" th:src="@{/js/resetPassword.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
</body>
</html>
