<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TimeCapsule-스토리 생성</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/story-created.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<main>
    <h1>당신만의 특별한 스토리</h1>
    <form id="createForm" enctype="multipart/form-data">
        <div class="form-group">
            <label>커뮤니티 게시&nbsp;&nbsp;&nbsp;</label>
            <label class="switch">
                <input type="checkbox" id="communityToggle" name="isShared" value=true >
                <span class="slider"></span>
            </label>
            <input type="hidden" name="_isShared" id="hiddenIsShared" value=false>
        </div>
        <div class="share-list">
            <span class="image-upload-container">
                <input type="file" id="imageUpload" name="images" accept="image/*" multiple class="hidden-file-input">
                <button type="button" class="upload-btn" id="uploadBtn"><img src="/images/ImageFileAdd.png"
                                                                             alt="이미지 업로드">이미지 업로드
                </button>
            </span>
            <span>
                <span class="create-story-option">공유자</span>
                <span class="create-story-option tag-input-container"><input type="text" id="search" class="tag-input"></span>
                <span class="create-story-option"><button type="button" id="shareSearchButton">검색</button></span>
            </span>
        </div>
        <input type="text" id="title" name="title" placeholder="제목을 입력해 주세요.">
        <div class="story-container">
            <div id="content"></div>
            <input type="hidden" id="contentInput" name="content">
        </div>
        <div class="story-container-buttons">
            <span><button type="submit" id="save" class="create-story-button">스토리 저장</button></span>
            <span><button id="edit" class="create-story-button">스토리 수정</button></span>
            <span><button id="cancel" class="create-story-button">스토리 취소</button></span>
        </div>
        <input type="hidden" name="userId" id="userId">
    </form>
    <div id="shareModal">
        <div id="shareModalContent">
            <div id="result">키워드</div>
            <div id="searchedList"></div>
            <div id="modalSharedList"></div>
        </div>
        <button id="share" class="create-story-button">공유</button>
    </div>
    <div id="storyModal">
        <div id="storyModalContent"></div>
        <button id="storyModalButton" class="create-story-button">확인</button>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/story-modal.js}"></script>
<script th:src="@{/js/image-upload.js}"></script>
<script th:src="@{/js/story-submit.js}"></script>
<script type="text/javascript" th:src="@{/js/auth.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
<script th:src="@{/js/story.js}"></script>
</body>
</html>