<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TimeCapsule</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/story-update.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>

<aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

<main>
    <h1>마이 스토리</h1>

    <div class="edit-container">

        <div style="display: flex; justify-content: space-between">
            <div class="form-group">
                <label>커뮤니티 게시 여부</label>
                <label class="switch">
                    <input type="checkbox" id="communityToggle" name="isCommunityPost" th:checked="${story.isShared()}">
                    <span class="slider"></span>
                </label>
            </div>

            <div class="image-upload-container">
                <input type="file" id="imageUpload" name="images" accept="image/*" multiple class="hidden-file-input">
                <button type="button" class="upload-btn" id="uploadBtn"><img src="/images/ImageFileAdd.png"
                                                                             alt="이미지 업로드">이미지 업로드
                </button>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="hidden-file-input">제목</label>
            <input type="text" id="title" name="title" style="border: 1px solid #ccc;" th:value="${story.title}"
                   placeholder="제목을 입력하세요.">
        </div>

        <div class="form-group content-group">
            <label for="content" class="visually-hidden">내용</label>
            <div id="content" name="content" contenteditable="true" class="content"></div>
        </div>

        <div class="form-group shared-group">
            <label for="sharedList" class="shared-list"><img src="/images/Share.png" alt="공유자">공유자</label>
            <div class="tag-input-container">
                <input type="text" id="sharedList" class="tag-input" placeholder="공유할 사용자의 닉네임을 입력하세요.">
            </div>
        </div>

        <div class="btn-container">
            <button class="back-btn" onclick="history.back()">뒤로가기</button>
            <button type="button" id="saveButton" onclick="submitForm()">저장</button>
        </div>
        <input type="hidden" name="userId" id="userId">
    </div>
</main>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:inline="javascript">
    const storyId = /*[[${story.id}]]*/ null;
    const currentUser = /*[[${story.getAuthor().nickname}]]*/ ''; // 유저 닉네임
    const existingSharedList = /*[[${story.sharedStories}]]*/ []; // 기존 공유자 리스트
    const isEditMode = true;
    const existingImages = /*[[${images}]]*/ {}; // 기존 이미지
    const content = /*[[${story.content}]]*/ '';
</script>
<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/shared-list.js}"></script>
<script th:src="@{/js/story-update.js}"></script>
<script th:src="@{/js/update-image.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>

</body>
</html>