<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TimeCapsule</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/story-detail.css}">
    <link rel="stylesheet" th:href="@{/css/comment.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

<main>
    <h1 th:if="${!(currentURI.contains('/stories/shared') || currentURI.contains('/community'))}">마이 스토리</h1>
    <h1 th:if="${currentURI.contains('/stories/shared')}" th:text="${story.author.nickname + '의 스토리'}"></h1>
    <h1 th:if="${currentURI.contains('/community')}">커뮤니티</h1>

    </h2>
    <article>
        <div class="story-header">
            <div class="story-metadata">
                <h2 th:text="${story.title}">스토리 제목</h2>
                <p><span th:text="${story.getAuthor().nickname}">작성자</span> |
                    <span th:text="${#temporals.format(story.createdAt, 'yyyy.MM.dd')}">YYYY.MM.DD</span> |
                    <span th:text="${story.isShared() ? '공개' : '비공개'}"></span>
                </p>
            </div>

            <div th:if="${!(currentURI.contains('/stories/shared') || currentURI.contains('/community'))}"
                 class="download-buttons">
                <a class="download-btn" th:href="@{/stories/download(fileName=${story.getSoundFile()})}" download="">
                    <img alt="인터뷰 다운로드 버튼" src="/images/soundDownload.png">인터뷰 파일 다운로드
                </a>
            </div>
        </div>

        <hr>

        <div class="story-images">
            <div th:each="image : ${images}">
                <img alt="첨부된 이미지" class="icon-img" th:if="${!image.isEmpty()}" th:src="'data:image;base64,'+${image}">
            </div>
        </div>

        <div class="story-content">
            <p th:text="${story.content}">게시물 내용 (사진 포함)</p>
        </div>

        <div th:unless="${currentURI.contains('community')}" class="form-group shared-group">
            <label for="sharedList" class="shared-list"><img src="/images/Share.png" alt="공유자">공유자</label>
            <div class="tag-input-container">
                <input type="text" id="sharedList" class="tag-input" readonly>
            </div>
        </div>

        <div th:if="${!(currentURI.contains('/stories/shared') || currentURI.contains('/community'))}"
             class="story-buttons">
            <button class="back-btn" onclick=goToStoryList()>목록</button>
            <button class="edit-btn" onclick="location.href=this.getAttribute('data-url')"
                    th:data-url="@{/stories/{id}/edit(id=${story.id})}">수정
            </button>
            <button class="delete-btn" id="deleteBtn">삭제</button>
        </div>

        <div th:if="${currentURI.contains('/stories/shared') || currentURI.contains('/community')}"
             class="shared-version-btn">
            <button class="back-btn" onclick=goToStoryList()>목록</button>
        </div>
    </article>
    <!--  댓글 영역-->
    <div class="commentSection">
        <h2 class="comment-header">댓글</h2>
        <div id="commentListContainer">
            <div class="commentList">
                <div class="comment-item" th:data-id="${comment.id}" th:each="comment : ${comments}">
                    <div class="comment-header">
                        <span class="comment-author" th:text="${comment.userNickname + ' | ' + #temporals.format(comment.createdAt, 'yyyy.MM.dd')}"></span>
                    </div>
                    <div class="comment-content" th:text="${comment.content}"></div>
                    <div class="comment-edit-form" style="display: none;">
                        <textarea th:text="${comment.content}"></textarea>
                        <button class="save-edit" type="submit">수정 완료</button>
                        <button class="cancel-edit" type="button">취소</button>
                    </div>
                    <div class="commentListButtons" th:if="${comment.userId == #authentication.principal.userId}">
                        <button class="edit-comment">수정</button>
                        <button class="delete-comment">삭제</button>
                        <button class="cancel-edit" style="display:none;">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <form class="comment-form">
            <textarea name="content" required></textarea>
            <input name="storyId" th:value="${story.id}" type="hidden">
            <button type="submit">등록</button>
            <input type="hidden" name="userId" id="userId">
        </form>
    </div>

    <!-- 삭제 완료 모달 -->
    <div class="modal" id="deleteModal">
        <div class="modal-content">
            <p>스토리가 삭제되었습니다.</p>
            <button class="close" id="closeModal">확인</button>
        </div>
    </div>

</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:inline="javascript">
    const storyId = /*[[${story.id}]]*/ null; // 스토리 ID
    const currentUser = /*[[${story.getAuthor().nickname}]]*/ ''; // 유저 닉네임
    const existingSharedList = /*[[${story.sharedStories}]]*/ []; // 기존 공유자 리스트
    const isEditMode = false;
</script>
<!--댓글 JS-->
<script th:src="@{/js/comment.js}"></script>

<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/detail-page.js}"></script>
<script th:src="@{/js/story-delete.js}"></script>
<script th:src="@{/js/shared-list.js}"></script>
<script type="text/javascript" th:src="@{/js/header.js}"></script>
</body>
</html>