<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TimeCapsule</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/story-detail.css}">
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>

<aside th:replace="~{fragments/sidebar :: sidebar}"></aside>

<main>
    <h1 th:unless="${currentURI.contains('/stories/shared')}">마이 스토리</h1>
    <h1 th:if="${currentURI.contains('/stories/shared')}" th:text="${story.author.nickname + '의 스토리'}"></h1>

    <article>
        <div class="story-header">
            <div class="story-metadata">
                <h2 th:text="${story.title}">스토리 제목</h2>
                <p> <span th:text="${story.getAuthor().nickname}">작성자</span> |
                    <span th:text="${#temporals.format(story.createdAt, 'yyyy.MM.dd')}">YYYY.MM.DD</span> |
                    <span th:text="${story.isShared() ? '공개' : '비공개'}"></span>
                </p>
                <p th:unless="${currentURI.contains('/stories/shared')}">공유자 |
                    <span th:each="shared, iterStat : ${story.sharedStories}">
                        <span th:text="${shared.sharedWithUser.nickname}"></span><span th:if="${!iterStat.last}">,</span>
                    </span>
                </p>
            </div>

            <div th:unless="${currentURI.contains('/stories/shared')}" class="download-buttons">
                <button class="download-btn" th:onclick="'downloadAudio(' + ${story.id} + ')'"><img
                        src="/images/soundDownload.png" alt="MP3 다운로드 버튼">MP3 다운로드
                </button>
                <button class="download-btn" th:onclick="'downloadPDF(' + ${story.id} + ')'"><img
                        src="/images/pdfDownload.png" alt="PDF 다운로드 버튼">PDF 다운로드
                </button>
            </div>
        </div>

        <hr>

        <div class="story-images">
            <div th:each="image : ${images}">
                <img th:if="${!image.isEmpty()}" class="icon-img" th:src="'data:image;base64,'+${image}" alt="첨부된 이미지">
            </div>
        </div>

        <div class="story-content">
            <p th:text="${story.content}">게시물 내용 (사진 포함)</p>
        </div>

        <div th:unless="${currentURI.contains('/stories/shared')}" class="story-buttons">
            <button class="back-btn" onclick=goToStoryList()>목록</button>
            <button class="edit-btn" th:data-url="@{/stories/{id}/edit(id=${story.id})}"
                    onclick="location.href=this.getAttribute('data-url')">수정</button>
            <button class="delete-btn" id="deleteBtn">삭제</button>
        </div>

        <div th:if="${currentURI.contains('/stories/shared')}" class="shared-version-btn">
            <button class="back-btn" onclick=goToStoryList()>목록</button>
        </div>
    </article>

    <!-- 삭제 완료 모달 -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <p>스토리가 삭제되었습니다.</p>
            <button class="close" id="closeModal">확인</button>
        </div>
    </div>
</main>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script>
    // 삭제 모달창
    document.getElementById("deleteBtn").addEventListener("click", function() {

        const storyId = [[${story.id}]];

        console.log("story id: ", storyId);

        if (confirm("정말로 삭제하시겠습니까?")) {
            fetch('/stories/' + storyId, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        let modal = document.getElementById("deleteModal");
                        modal.style.display = "flex";
                    } else {
                        alert("삭제에 실패했습니다. 다시 시도해주세요.");
                    }
                })
                .catch(error => {
                    console.error('Error: ', error);
                    alert("삭제에 실패했습니다. 다시 시도해주세요.");
                });
        }
    });

    document.getElementById("closeModal").addEventListener("click", function() {
        let modal = document.getElementById("deleteModal");
        modal.style.display = "none";
        window.location.href = "/stories";
    });

    // 페이지 번호를 유지한 스토리 목록 페이지로 이동하는 함수
    function goToStoryList() {
        const pageNumber = sessionStorage.getItem('currentPage') || 1;
        window.location.href = `/stories?page=${pageNumber}`;
    }
</script>
</body>
</html>